header {
	height: 100px;
}
input[type="submit"]:not([id="logout"]):hover {
	transform: scale(1.1);
	outline: none;
}
input[type="submit"]:not([id="logout"]) {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFE0), to(#EBFFFF));
	border-radius:  5px;
	color:  #8B4513;
	border-color:  #8B4513;
	font-weight: bold;
	background-color:  white;
	height:  40px;
	width:  150px;	
	font-size:  small; 
	margin-top:  30px;
	margin-left: 50px;
}
#controlButton {
	float: left;
}
#logotype {
	float:  left;
}
#round {
	background-color: #fff3e6;
	border-radius: 50px;
	margin: 60px auto;
	border-collapse: collapse;
	width: 500px;
	position: fixed;
	left: 440px;
}
th {
	text-align:  left;
	padding: 20px 20px;
}
td{
	padding:  10px 20px 10px;
}
#today {
	text-align: right;
	margin-right: 50px;
}
#scrollup {
	position: fixed;
	opacity: 0.8; 
	padding: 5px; 
	background: #AAA;
	border-radius: 5px; 
	left: 30px; 
	bottom: 55px;
	display: none;
	cursor: pointer;
}
