footer {
	background: #FFFFE0;
	color: #8B4513;
	font-size: 11px;
}
#scrollup {
	position: fixed;
	opacity: 0.8; 
	padding: 5px; 
	background: #AAA;
	border-radius: 5px; 
	left: 30px; 
	bottom: 55px;
	display: none;
	cursor: pointer;
}
#footer {
	margin: auto;
	padding: 10px 0;
	height: 50px;
	width:  100%;
	background: #FFFFE0;
	color: #8B4513;
	font-size: 14px;
    bottom:     0;
}
#footer {
	position:   absolute;
}
footer #footer{
	position:   relative;
}
#footer p {
	color: #8B4513;
	font: 14px Tahoma, sans-serif;
	text-align: center;
}