#order, #bill {
	width:  1100px;
	margin: auto;
	margin-top:  50px;
	margin-bottom: 50px;
}
#cancel {
	padding-top: 15px;
}
button {
	background-image:  url(../pictures/cancel.png);
}
#deleteOrder, #payment, button {
	background-position:  center;
	outline: none;
	height:  16px;
	float: right;
	margin-right: 30px;
}
#deleteOrder {
	background-image:  url(../pictures/cancel.png);
}
#payment {
	background-image:  url(../pictures/payment.png);
}
.title {
	font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;	
	font-weight: normal;
	font-weight: 200;
	text-align:left;
	position: absolute;
	color: #8B4513;
	margin: 15px 0;
}
#makeOrderTitle {
	font-size:22px;
	top: 30px;
	left: 40px;
}
#dateInfo {
	font-size:20px;
	top: 200px;
	left: 250px;
}
label {
	left:  20px;
	padding-left: 70px;
}
label[for="placeForSleep"] {
	padding-left: 0;
}
.date {
	margin-top: 90px;
	margin-left: 60px;
}
#placeForSleep {
	margin-left: 60px;
	margin-top: 20px;
}
#roomWish h2 {
	font-size:20px;
	top: 320px;
	left: 250px;
}
#roomWish {
	margin-top: 65px;
	margin-left: 70px;
}
select {
	margin-left: 170px;
	outline: none;
	color:  #8B4513;
}
.date,
#placeForSleep,
#roomNumber,
#setRoomNumber,
#costPerDay {
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
.date:focus,
#placeForSleep:focus,
#roomNumber:focus,
#setRoomNumber:focus,
#costPerDay:focus {
	outline: none;
}
.date:focus:invalid,
#placeForSleep:focus:invalid,
#roomNumber:focus:invalid,
#setRoomNumber:focus:invalid,
#costPerDay:focus:invalid {
	background: #FFF;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535;
}
.date:focus:valid,
#placeForSleep:focus:valid,
#roomNumber:focus:valid,
#setRoomNumber:focus:valid,
#costPerDay:focus:valid {
	background: #FFF;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

#placeForSleep::-webkit-input-placeholder {
    color:  #8B4513; 
}
#freeRooms, #clientOrder, #clientBill {
	font-size:18px;
	margin-top: 30px;
	margin-left: 50px;
	border-collapse: collapse;
}
input[id="createOrder"] {
	margin-bottom: 15px;
}
#freeRooms td, #clientOrder td, #clientBill td {
	border: 1px dotted;
}
#clientOrder, #clientBill {
	margin:  auto;
}
#category {
	margin-top: 50px;
}