body {
	color: #8B4513;
	font: 18px Tahoma, sans-serif;
	background: #f8f8f8 url(../pictures/background.png);
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
header {
	background:  url(../pictures/header_bg.jpg);
}
header img {
	padding-left:  40px;
}
#logotype {
	float:  left;
}
#danger {
	background-color: rgba(255, 0, 0, 0.3);
	color:  #A52A2A;
}
#success{
	background-color: rgba(0, 255, 0, 0.3);
	color:  #228B22;
}
#topBar ul {
	display:  block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFE0), to(#EBFFFF));
	height: 100px;
}
#topBar > ul {
	opacity: 0.6;
}

#topBar li {
	float: left;
	border-color:  #8B4513;
}
#topBar li a, #logout {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 51px;
	padding-top: 35px;
	color:  #8B4513;
	font-weight: bold;
}
#logout {
	height:  100px;
	margin-top: 0;
	font-size:  18px;
	border:  0;
	outline: none;
}
#topBar li:hover:not(.active), #logout:hover {
	background-color: #111;
}
#topBar li a:hover:not(.active), #logout:hover {
	color:  #F8F8FF;
}
#topBar .active {
	background-color: #8B7D6B;
	color:  #FFFACD;
}