header {
	height: 100px;
}
input[type="submit"]:not([id="logout"]):hover {
	transform: scale(1.1);
	outline: none;
}
input[type="submit"]:not([id="logout"]) {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFE0), to(#EBFFFF));
	border-radius:  5px;
	color:  #8B4513;
	border-color:  #8B4513;
	font-weight: bold;
	background-color:  white;
	height:  40px;
	width:  150px;	
	font-size:  small; 
	margin-top:  30px;
	margin-left: 50px;
}
#logotype {
	float:  left;
}
#section {
	width:  600px;
	margin: auto;
	margin-top:  50px;
}
.loginform input:not([type=submit]) {
        padding: 5px;
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 3px;
		display:  block;
		margin:  auto;
}
.loginform input:not([type=submit]):focus {
	outline: none;
}
.loginform input:not([type=submit]):focus:invalid {
	background: #FFF url(../pictures/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535;
}
.loginform input:not([type=submit]):focus:valid {
	background: #FFF url(../pictures/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

.loginform input:not([type=submit])::-webkit-input-placeholder {
    color:  #8B4513; 
}
#category{
	outline: none;
	color:  #8B4513;
}
.category {
    margin-top: 30px;
    margin-bottom: 30px;
}
#registration{
	width:  100%;
	background: #FFFFE0;
	color: #8B4513;
	font-size: 14px;
    position:   fixed;
    bottom:     0;
	padding-left:  430px;
}
#registration p {
	float:  left;
	
}
#registration input {
	margin-top:  10px;
}

