#rightBar {
	float:  right;
	padding-right:  50px;
}
#logotype, form {
    display:    inline-block;
}
input[type="submit"]:hover {
	transform: scale(1.1);
	outline: none;
}
input[name="login"] {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFE0), to(#EBFFFF));
	border-radius:  5px;
	color:  #8B4513;
	border-color:  #8B4513;
	font-weight: bold;
	background-color:  white;
	height:  40px;
	width:  150px;	
	font-size:  small; 
	margin-top:  30px;
	margin-right: 20px;
}
input[class="language"] {
	background-position:  center;
	border-radius: 50px;
	height:  45px;
	width:  45px;
	top:  45px;
}
input[id="eng"] {
	background-image:  url(../pictures/UK.png);
}
input[id="ru"] {
	background-image:  url(../pictures/RU.png);
}
section {
	width:  1000px; 
	margin:  auto;	
}
section > h1, 
section > p {
	color: #8B4513;
	font: 18px Tahoma, sans-serif;
}
.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
}
.carousel-indicators li {
    display: block;
    background-color: rgba(255, 255, 255, 0.247059);
}

.carousel-indicators .active {
    background-color: rgb(255, 255, 255);
}
.carousel-inner > .item {
    position: relative;
    display: none;
    transition: left 0.6s ease-in-out;
}
.carousel-indicators {
    top: 15px;
}
.carousel-control {
    top: 100px;
    left: 45px;
    height: 40px;
    margin-top: 190px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    background: rgb(34, 34, 34);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 70px;
}
.carousel-caption {
    line-height: 20px;
    color: #FF;
	background:  #778899;
	margin-bottom: -20px;
	opacity:  0.7;
	margin-left:  -200px;
	margin-right: -200px;
	height:  140px;
	margin:  0 -200px -20px -200px;
}
.carousel-caption p, h3 {
	text-align:  left;
	margin-left:  20px;
}
.carousel-caption p {
	font-size:  16px;
}