body {
    font-family:    Verdana, Geneva, Arial, sans-serif;
    font-size:      small;
    font-style:     italic;
    color:          #000080;
    background:     url(../patterns/symphony.png);
}
#footer{
    position:   fixed;
    bottom:     0;
}
form {
    display:    inline-block;
}
input {
    border-radius:  5px;
    width:          100px;
    margin:         5px;
    color:			#000080;
    font-size:      small;  
}
table {
    margin-left:		20px;
    margin-right:		20px;
    border:             thin solid black;
    caption-side:       top;
    border-collapse:    collapse;
    text-align:         center;
}
td, th {
    border:	    thin dotted gray;
    padding:    5px;
}
caption {
    font-style:		italic;
    padding-top:    8px;
}
th {
    background-color:	#6495ED
}
.backButton {
    font-family:    Verdana, Geneva, Arial, sans-serif;
    margin:         15px auto auto 5px;
}